
.ContactMe {
   
    margin: 50px 0;
    color: #2c3e50;
}
.ContactMeTitle {
    color: #2c3e50;
    font-size: 50px;
}

.divider .line {
  width: 150px;
  height: 4px;
  background-color: #2c3e50;
  border-radius: 2px;
}

.FaStar{
  color: #2c3e50;
  font-size: 40px;
}

.ContactForm { 
 width: 700px;
 font-size: 26px;
}
.submitBtn{
background-color: blueviolet;}


