.AboutSection {
    background-color: #1abc9c;
    height: 60vh;
    align-content: center;
}

.divider .line {
  width: 150px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.FaStar{
  color: #fff;
  font-size: 40px;
}

.aboutBtn {
  background-color: #1abc9c;
  color: white;
  padding: 12px 32px;
  border-radius: 10px;
  border: none;
  outline: solid 1px #fff;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.aboutBtn:hover {
  background-color: #fff;
  color: #000;
}
