.footer {
  background-color: #2c3e50;
  padding: 50px 0;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 1.7;
}

.footer a {
  color: #1abc9c;
  
}

.footer a:hover {
  color: #107e68;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socialIcons a {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.socialIcons a:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
