.heroSection {
    height: 80vh;
  background-color: #1abc9c;
  padding: 100px 0;
}

.heroImage {
  width: 300px;
}
.heroTitle {
  font-size: 60px;
  font-weight: 600;
}


.divider .line {
  width: 100px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

 p{
    font-size: 26px;
}
